
h1 {
  text-align: center;      
  font-size: 16px;        
  font-weight: bold;      
  margin-top: 20px;       
  margin-bottom: 10px;    
}


.file-container {
  display: flex;
  flex-direction: column;  
  align-items: center;     
  width: 100%;             
}


.file-grid {
  column-count: 2;                  
  column-gap: 16px;                 
  width: 60%;                       
  margin-top: 20px;               
}


.file-item {
  break-inside: avoid;               
  margin-bottom: 16px;               
}


.video-element {
  width: 100%;             
  height: auto;           
  border: none;           
  object-fit: contain;    
}


.caption {
  display: flex;           
  align-items: center;     
  justify-content: center;  
  font-size: 14px;        
  color: #333;           
  margin-top: 5px;        
}


.caption span {
  margin-right: 8px;       
}


.download-icon {
  font-size: 18px;        
  color: #333;            
  text-decoration: none;  
}


@media (max-width: 800px) {
  .file-grid {
      column-count: 1;         
      width: 90%;            
  }
}
